<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h1>Shopping List</h1>
      <label>What's new on list?</label>
      <div class="input-group mb-3">
        <!--ngModel needs to import { FormsModule } from '@angular/forms'; in module -->
        <!--Two way data binding useful for capture and handle change event -->
        <input type="text" class="form-control" placeholder="New item" [(ngModel)]="newitem">
        <div class="input-group-append">
          <!--(click) handles the click event, in this case it calls the method addItem() from ts file -->
          <button class="btn btn-success" (click)=addItem()>Add</button>
          <!--{{ }} Binds text content to an interpolated string -->
          <button class="btn btn-primary" (click)="show = !show">{{show ? 'Hide List' : 'Show List'}}</button>
        </div>
      </div>
    </div>
  </div>
  <h2 *ngIf="show">Current List</h2>
  <div class="row">
    <!--*ngIf removes or create according to a boolean value, in this case show-->
    <div *ngIf="show" class="col-xl-12">
      <!--*ngFor let us to show a list according to Typescript object -->
      <div class="input-group mb-3" *ngFor="let item of items; let i = index">
        <output type="text" class="form-control">{{item}}</output>
        <div class="input-group-append">
          <button class="btn btn-danger" (click)="removeItem(i)">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>